* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brown: #6c4a4a;
}
body {
  overflow-x: hidden;
  background-color: #ddbebe;
}
#headers {
  background-color: var(--brown);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#navbar {
  background-color: #c89595;
}
#navbar ul li {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgHeaders {
  width: 5%;
  padding: 0.2%;
  height: auto;
}
#serachSection {
  padding-top: 0.5%;
  padding-left: 10%;
}
.options:hover {
  background-color: yellow;
  border-radius: 4%;
}
#searchInput {
  margin-top: 3%;
  width: 80%;
  height: 32px;
  border-radius: 5px;
}
#searchButton {
  width: auto;
  width: 5%;
  border-radius: 5px;
  height: 32px;
}
#selectsOption {
  border-radius: 5px;

  height: 30px;
  width: 80px;
}
#loginRegister {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 4%;
}
#loginRegister article {
  border-radius: 5px;
  padding: 0.4%;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

#imgHome {
  height: 100px;
}
.seeMovieBtn,
a {
  margin-top: 44px;
  text-decoration: none;
  color: black;
  bottom: 0;
  margin: 8px;
  width: 80%;
  height: 25px;
  border-radius: 22px;
}
.allCHangCart {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.formMovie input {
  width: auto;
  height: 25px;
  border-radius: 4px;
}
.formMovie button {
  width: 54px;
  height: 35px;
  border-radius: 4px;
}
.formMovie {
  margin-left: 2%;
  width: 80%;
  padding: 2%;
  font-size: 30px;
  border-radius: 14px;
  margin-top: 2%;
  margin-bottom: 4%;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.moviesCart {
  width: 100%;
  height: auto;
  height: auto;
  color: black;
}

.imgTabs {
  width: auto;
  height: 50px;
}
#sectionToIdTeble {
  width: 100%;
  height: auto;
}
#teble {
  padding: 0.5% 1% 0 9%;
  width: 85%;
}
#teble tbody tr {
  height: 10px;
}
#teble tr:nth-child(odd),
td {
  background-color: #6c4a4a38;
}
#teble tr th {
  padding: 1%;
  width: 10%;
}
#footer {
  bottom: 0;
  background-color: #ededed;
}
.allLogos {
  height: auto;
  padding: 1%;
  padding-left: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imgsLogo {
  width: 10%;
}
.copyRight {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 44%;
}
.copyRightImg {
  width: 4%;
}
#toShow {
  background-color: #ddbebe;
}
#main #errorImg500 {
  width: auto;
  height: auto;
  padding-left: 34%;
}

.img-container {
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.inner-skew {
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 200px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: var(--brown);
  font-size: 18px;
}
.popUp {
  display: none;
}
#sectionOf_ArticleStatic {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(3, 30%);
  margin-left: 10%;
  margin-top: 3%;
}
.articleStatic {
  background-color: var(--brown);
  border-radius: 5px;
}
.imgHomePage {
  padding: 2%;
  width: 100%;
  height: 100%;
}

.moviesCart {
  width: 100%;
  height: auto;
  height: auto;
  color: black;
}

#sectionToMoviesCart {
  text-align: center;
  display: grid;
  width: 98%;
  margin-left: 2%;
  grid-template-columns: repeat(3, 32%);
  gap: 10px;
}

.singleMovie {
  width: 20%;
  margin: auto;
  height: auto;
  height: auto;
  color: black;
}
.singleImg {
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.singleImg img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.styleToImg {
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 40px;
  background: #c8c2c2;
  height: 200px;
  width: 200px;
}
.showDetailsId {
  margin-left: 64px;
}

#sortBy {
  display: flex;
  justify-content: space-around;
}
