* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --brown: #6c4a4a;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #ddbebe;
}
#headers {
  background-color: var(--brown);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#navbar {
  background-color: #c89595;
}
#navbar ul li {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgHeaders {
  width: 5%;
  padding: 0.2%;
  height: auto;
}
#main {
  background-color: #ddbebe;
}

#imgHome {
  height: 100px;
}
.seeMovieBtn,
a {
  margin-top: 44px;
  text-decoration: none;
  color: black;
  bottom: 0;
  margin: 8px;
  width: 80%;
  height: 25px;
  border-radius: 22px;
}

#searchInp {
  border-radius: 5px;
  width: 80%;
  padding: 2%;
  font-size: 30px;
  border-radius: 14px;
  margin-top: 2%;
  margin-bottom: 4%;
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
  }
}

.moviesCart {
  width: 100%;
  height: auto;
  height: auto;
  color: black;
}

#footer {
  bottom: 0;
  background-color: #ededed;
}
.allLogos {
  height: auto;
  padding: 1%;
  padding-left: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imgsLogo {
  width: 10%;
}
.copyRight {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 44%;
}
.copyRightImg {
  width: 4%;
}

#footer {
  background-color: #ededed;
}

.singleMovie {
  width: 20%;
  margin: auto;
  height: auto;
  height: auto;
  color: black;
}
.singleImg {
  height: auto;
  width: auto;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.singleImg img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}

.styleToImg {
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 40px;
  background: #c8c2c2;
  height: 200px;
  width: 200px;
}
.showDetailsId {
  margin-left: 64px;
}

.singleImg img {
  transform: skew(0deg, -13deg);
  height: 250px;
  margin: -35px 0px 0px -70px;
}
.styleToImg {
  border-radius: 20px;
  overflow: hidden;
  padding: 4px;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 40px;
  background: #c8c2c2;
  height: 200px;
  width: 200px;
}
.showDetailsId {
  margin-left: 64px;
}
