#sectionToIdTeble {
  table-layout: fixed;  width: 100% ;
  /* padding: 2%; */
}
#teble {
  width: 100%;
  padding-right: 4%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

#teble tr:nth-child(odd),
td {
  background-color: #6c4a4a38;
}
#teble tbody td{
  /* background-color: yellow; */
}
.imgTable {
  width: 220px;
  height: auto;
}


td {
  width: 10% ;
  padding: 4px;

}